# Встроенные папки настроек Android Studio (у каждого разработчика они свои)
.idea/
*.iml
*.iws
*.ipr

# Папки сборки и кэш Gradle (весят очень много, генерируются сами)
.gradle/
build/
**/build/

# Локальные настройки (тут лежит путь к SDK на твоем компе, у друга он другой)
local.properties

# Ключи и пароли (ОЧЕНЬ ВАЖНО ДЛЯ БЕЗОПАСНОСТИ! Никогда не пушим ключи в интернет)
*.jks
*.keystore
*.properties.local

# Системный мусор от Mac (если кто-то из вас работает на макбуке)
.DS_Store

# Временные файлы, логи и профилировщик Android Studio
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab